/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.02.2016, 14:16:36
    Author     : Lartsev
*/

input{
    border:1px solid black;
    }

input:focus{
    background-color: #E6E6E6;
    }
    
fieldset{
    margin-bottom: 4%;
    }