/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.02.2016, 17:16:33
    Author     : Lartsev
*/

label{
  display:block;
  
}
input {
  position:absolute;
  left:200px;
  width:75px;
}
input[type=submit]{
  top:345px;
  left:10px;
}